# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore database files
*.sqlite

# Ignore dist or build folder
/dist/
/build/

# Ignore macOS system files
.DS_Store
